* {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  background: #051622cc;
  overflow-x: hidden;
  top: -150px;
}

html::-webkit-scrollbar {
  border-radius: 0%;
}

html::-webkit-scrollbar-track {
  background: #051622;
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb {
  background: #1ba098;
  transition: ease 0.2s;
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #11726b;
}

/* HEADER */
#header {
  position: fixed;
  display: flex;
  width: 96%;
  background-color: #1ba098;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 2.7%;
  top: 0px;
}

#header .header-kiri .logo-inti {
  position: relative;
}

#header .header-tengah a {
  font-weight: 700;
  color: #000;
  font-size: 1.4rem;
  margin: 0 0.8rem;
  transition: all 0.1s ease;
}
a.home:hover,
a.genre:hover,
a.list:hover {
  background-color: #ff6a3dd6;
  padding-inline: 20px;
  padding-block: 7px;
  border-radius: 10px;
}

#header .header-kanan .menu {
  position: relative;
  width: 70px;
  height: 70px;
  /* left: 230px; */
  color: #000;
  transition: all 0.1s ease;
}

#header .header-kanan .menu:hover {
  position: relative;
  width: 71px;
  height: 71px;
}

.header-kanan span {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 90px;
  right: 360px;
  background: #ff6a3d;
  padding: 10px 10px;
  border-radius: 35px;
}

#header .search-button {
  background-color: #ff6a3dd6;
  color: #000;
  border-radius: 10px;
  padding: 10.5px;
  bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
}

#header .header-kanan .search-button::placeholder {
  color: #000;
}

#header .header-kanan .search-icon {
  width: 26px;
  height: 26px;
  right: 3.5px;
  bottom: 44px;
}

#header span:hover .search-button {
  opacity: 1;
}
/* HEADER END */

/* SIDEBAR */
#sidebar {
  position: fixed;
  width: 330px;
  height: 870px;
  top: 207px;
  right: -330px;
  background: #ff6a3d;
  transition: 0.4s;
}

#sidebar.active {
  position: fixed;
  width: 330px;
  height: 870px;
  top: 207px;
  right: 0px;
  background: #ff6a3d;
}

h1.toolbar {
  position: relative;
  font-weight: 700;
  top: 23px;
  right: -97px;
  font-size: 30px;
}

#sidebar a {
  top: 30px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  margin: 7px;
}

div.pil-sidebar {
  text-align: end;
}

/* ISI SIDEBAR */
#isi-sidebar .active {
  left: 920px;
  opacity: 1;
  transition: 0.4s;
}

#isi-sidebar span {
  opacity: 0;
}

#isi-sidebar .active h1 {
  font-size: 45px;
  color: #ff6a3d;
  margin-block: 30px;
}

#isi-sidebar .active a {
  right: 20px;
  font-size: 35px;
  margin-inline: 25px;
  font-weight: 700;
}

#isi-sidebar .active a.lg1 {
  color: #ff6a3d;
  background: #11726b;
  padding: 10px 30px;
  border-radius: 20px;
}

#isi-sidebar .active a.lg2 {
  color: #1ba098;
  background: #ff6a3d;
  padding: 10px 30px;
  border-radius: 20px;
}
/* ISI SIDEBAR END */

/* SIDEBAR END */

/* CONTENT */
#content {
  position: relative;
}

.top-movies {
  top: -60px;
}

#content .top-movies .judul {
  position: absolute;
  width: 526px;
  height: 48px;
  color: #ff6a3d;
  font-weight: 700;
  font-size: 3rem;
  top: 255px;
  left: 60px;
}

#content .top-movies .icon {
  position: absolute;
  width: 130px;
  height: -2px;
  left: 60px;
  top: 315px;

  border: 5px dashed #000000;
  border-radius: 5px;
}

#content .top-movies .pembungkus-top-movies {
  left: 60px;
  top: 343px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 465px;
  width: 100%;
  cursor: pointer;
}

.pembungkus-top-movies::-webkit-scrollbar {
  width: 10px;
}

.pembungkus-top-movies::-webkit-scrollbar-thumb {
  background-color: #1ba097;
  border-radius: 10px;
  transition: 0.2s;
}

.pembungkus-top-movies::-webkit-scrollbar-track {
  background-color: #051622;
  border-radius: 10px;
}

.pembungkus-top-movies img {
  transition: 0.4s;
}

.top-movies .pembungkus-top-movies span {
  margin-right: 20px;
}

.top-movies .pembungkus-top-movies h1 {
  font-size: 21.5px;
  color: #1ba098;
  margin: 20px 0;
}

.top-movies .pembungkus-top-movies a {
  font-size: 25px;
  color: #000;
  background: #11726b;
  padding: 5px 10px;
  border-radius: 6.5px;
  font-weight: 700;
}

.top-movies .pembungkus-top-movies a,
.top-movies .pembungkus-top-movies h1 {
  bottom: 128px;
  left: 20px;
  opacity: 0;
  transition: 0.4s;
}

.pembungkus-top-movies:hover > :not(:hover) img {
  opacity: 0.3;
}

.pembungkus-top-movies:hover > :not(:hover) h1,
.pembungkus-top-movies:hover > :not(:hover) a {
  opacity: 0;
  transition: 0.4s;
}

.pembungkus-top-movies:hover a,
.pembungkus-top-movies:hover h1 {
  opacity: 1;
}

/* TOP GENRE */
.top-genre {
  top: 10px;
}

.top-genre .judul {
  position: absolute;
  font-size: 3rem;
  left: 60px;
  top: 830px;
  color: #ff6a3d;
}

span.genre {
  font-size: 3rem;
  left: 60px;
  top: 780px;
}

.top-genre a {
  color: #000;
  top: 130px;
  background-color: #ff6a3d;
  padding: 15px 100px;
  border-radius: 20px;
}

.top-genre a:nth-child(1) {
  left: 10px;
}

.top-genre a:nth-child(2) {
  left: 70px;
}

.top-genre a:nth-child(3) {
  left: 140px;
}

.top-genre a:nth-child(4) {
  left: 210px;
}
/* CONTENT END */

/* FOOTER */
#footer {
  /* position: relative; */
  background-color: #1ba098;
  text-align: center;
  top: 1200px;
  left: 0;
  width: 100%;
  padding: 0.6rem 1%;
}
.logo-inti-footer {
  width: 130px;
  height: 130px;
  left: -75px;
}
.watermark {
  font-size: 15px;
  left: 80px;
  bottom: 7px;
}
/* FOOTER END */

/* MEDIA QUERIES */
@media (max-width: 1600px) {
  .top-movies {
    top: -60px;
  }

  .top-genre a:nth-child(4) {
    display: none;
  }
}
/* LAPTOP */
@media (max-width: 1366px) {
  * {
    font-size: 82%;
  }
  /* HEADER */
  #header .header-kiri .logo-inti {
    width: 85%;
  }
  #header .header-kanan .menu {
    width: 55px;
    height: 55px;
    left: 200px;
  }
  #header .header-kanan .search-button {
    border-radius: 7px;
    padding: 9px;
    top: -21.5px;
    right: 90px;
  }
  #header .header-kanan .search-icon {
    width: 27px;
    height: 27px;
    top: -13px;
    right: 260px;
  }
  /* CONTENT */
  #content {
    top: -130px;
  }
  #content .top-movies .judul {
    top: 225px;
  }

  #content .top-movies .icon {
    width: 115px;
    top: 270px;
    left: 63px;
    border: 3px dashed #000000;
    border-radius: 5px;
  }

  #content .top-movies .poster-film {
    width: 1306px;
    height: 400px;
    top: 300px;
  }

  .poster-film::-webkit-scrollbar {
    width: 5px;
  }

  .poster-film::-webkit-scrollbar-thumb {
    border-radius: 7px;
  }

  .poster-film::-webkit-scrollbar-track {
    border-radius: 7px;
  }
  .top-movies .the-batman,
  .top-gun,
  .avatar-2,
  .ambulance,
  .pengabdi-setan-2,
  .black-panther-2,
  .interstellar,
  .inception,
  .joker,
  .the-dark-knight {
    width: 260px;
    height: 360px;
  }

  .top-movies .top-gun {
    left: 250px;
  }
  .top-movies .avatar-2 {
    left: 500px;
  }
  .top-movies .ambulance {
    left: 750px;
  }
  .top-movies .pengabdi-setan-2 {
    left: 1000px;
  }
  .top-movies .black-panther-2 {
    left: 1250px;
  }
  .top-movies .interstellar {
    left: 1500px;
  }
  .top-movies .inception {
    left: 1750px;
  }
  .top-movies .joker {
    left: 2000px;
  }
  .top-movies .the-dark-knight {
    left: 2250px;
  }

  .top-genre .judul {
    position: absolute;
    font-size: 3rem;
    left: 60px;
    top: 1000px;
  }

  span.genre {
    font-size: 30px;
    left: 60px;
    top: 900px;
    padding: 1.4rem 0.5%;
  }

  .genre a {
    display: flex;
    margin-block: 10px;
    padding-inline: 20px;
  }
  .top-genre a:nth-child(1) {
    left: 5px;
  }

  .top-genre a:nth-child(2) {
    left: 5px;
  }

  .top-genre a:nth-child(3) {
    left: 5px;
  }

  .top-genre a:nth-child(4) {
    left: 5px;
    display: block;
  }

  /* SIDEBAR */
  #sidebar {
    top: 169px;
  }
  #sidebar.active {
    position: fixed;
    width: 300px;
    height: 870px;
    top: 169px;
    right: 0px;
    background: #ff6a3d;
  }

  /* FOOTER */
  #footer {
    display: none;
  }
}
/* TABLET */
@media (max-width: 1030px) {
  #content {
    top: 200px;
  }
  .top-genre {
    display: none;
  }
}
/* PHONE */

/* MEDIA QUERIES END */
