*{
    text-decoration: none;
}

*
html{
    position: relative;
    overflow: scroll;
    background-color: #fff;
    margin:0;
    padding: 0;
    left: 0;
    right: 0;

}

html::-webkit-scrollbar{
    width: 15px;
}

html::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.568) ;
    border: 3.5px;
    border-radius: 10rem;
}

html::-webkit-scrollbar-track{
    position:absolute;
    border: -3rem;
    top: -50rem;
    background: #051622cc;
}

@font-face {
    font-family: Josefin Sans;
    src: url(Font-Josefin/JosefinSans-Bold.ttf);
}

/*HEADER*/

.header{
    position: fixed;
    width: 1935px;
    height: 220px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #1BA098;
}

    .tombol-tulisan {
        position: absolute;
        width: 366px;
        height: 34px;
        left: 753px;
        top: 100px;
        align-items: center;
        display: inline-block;
        margin: auto;
    }

    .news-tombol{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;

        display: flex;

        text-align: center;
        /* justify-content: center; */
        
        color: #000000;

        transition: 0.4s ease-in-out;
    }
        .news-tombol:hover {
            padding: 10px;
            background-color: #ff6a3dd6;
            border-radius: 7px;
        }

    .genre-tombol{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;

        display: flex;

        text-align: center;
        /* justify-content: center; */
        
        color: #000000;

        transition: 0.4s ease-in-out;
    }

    .genre-tombol:hover {
        width: 111px;
        height: 33px;
        left: 882px;
        top: 124px;
        background: #ff6a3dd6;
        border-radius: 7px;
    }

    .list-tombol{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;

        display: flex;

        text-align: center;
        /* justify-content: center; */
        
        color: #000000;

        transition: 0.4s ease-in-out;
    }

    .list-latar{
        position: absolute;
        width: 111px;
        height: 33px;
        left: 1009px;
        top: 124px;

        background: rgba(255, 106, 61, 0.84);
        border-radius: 7px;
    }

    .header-logo{
        position: absolute;
        width: 162px;
        height: 151px;
        left: 61px;
        top: 59px;

        background: url('logo-hitam.png');
        mix-blend-mode: normal;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .latar-search-inti{
        position: absolute;
        width: 272px;
        height: 70px;
        left: 1428px;
        top: 95px;

        background: #307672;
        border-radius: 12px;
    }

    .latar-search{
        position: absolute;
        width: 171px;
        height: 43px;
        left: 1509px;
        top: 108px;
        
        background: #FF6A3D;
        border-radius: 12px;  
    }

    .search-logo{
        position: absolute;
        width: 43px;
        height: 43.43px;
        left: 1445px;
        top: 108px;
    }

    .search-button{
        position: absolute;
        width: 87px;
        height: 30px;
        left: 1545px;
        top: 116.5px;

        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;

        display: flex;
        align-items: center;
        text-align: justify;
        text-transform: lowercase;

        color: rgba(255, 255, 255, 0.7);
    }

    .toolbar-button{
        position: absolute;
        width: 70px;
        height: 70px;
        left: 1800px;
        top: 95px;
        
        transform: rotate(-180deg);
    }

/*CONTENT*/

.content{
    position: absolute;
    width: 1936px;
    height: 2428px;
    left: 0px;
    top: 0px;
    right: 0;
    
    background: #051622cc;
}

/*TOP MOVIES*/

    .top-movies-header{
        position: absolute;
        width: 526px;
        height: 57px;
        left: 58px;
        top: 258px;
        
    }

        .top-movies-judul{
            position: absolute;
            width: 526px;
            height: 48px;
            left: 0px;
            top: 2px;
            
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            display: flex;
            align-items: center;
            
            color: #FF6A3D;
            
        }

        .garis-top-movies{
            position: absolute;
            width: 130.03px;
            height: 0px;
            left: 2px;
            top: 59px;
            
            border: 5px dashed #000000;
        }

    .top-movies-content{
        position: absolute;
        width: 1862px;
        height: 579px;
        left: 58px;
        top: 256px;
        overflow-x: scroll;
    }

    .top-movies-content::-webkit-scrollbar{
        width: 15px;
    }

    .top-movies-content::-webkit-scrollbar-thumb{
        background-color: #307672;
        border: 3.5px;
        border-radius: 10rem;
    }

        .top-movies-the-batman{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 2px;
            top: 87px;
            
            background: url(Foto-Top-Movies/The-Batman-Poster.jpg);
        }

        .top-movies-top-gun-2{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 328px;
            top: 87px;
            
            background: url(Foto-Top-Movies/Top-Gun-2-Poster.jpg)
        }

        .top-movies-avatar-2{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 654px;
            top: 87px;

            background: url(Foto-Top-Movies/Avatar-2-Poster.jpg);
        }

        .top-movies-ambulance{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 991px;
            top: 87px;
            
            background: url(Foto-Top-Movies/Ambulance-Poster.jpg);
        }

        .top-movies-pengabdi-setan-2{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 1317px;
            top: 87px;
            
            background: url(Foto-Top-Movies/Pengabdi-Setan-2-Poster.jpg);
        }

        .top-movies-black-panther-2{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 1643px;
            top: 87px;
            
            background: url(Foto-Top-Movies/Black-Panther-2-Poster.jpg);
        }

        .top-movies-interstellar{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 1971px;
            top: 87px;
            
            background: url(Foto-Top-Movies/Interstellar-Poster.jpg);
        }

        .top-movies-inception{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 2291px;
            top: 87px;
            
            background: url(Foto-Top-Movies/Inception-Poster.jpg);
        }

        .top-movies-joker{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 2612px;
            top: 87px;
            
            background: url(Foto-Top-Movies/Joker-Poster.jpg);
        }

        .top-movies-the-dark-knight{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 2932px;
            top: 87px;
            
            background: url(Foto-Top-Movies/The-Dark-Knight-Poster.jpg);
        }

/*LATEST MOVIE*/

    .latest-movie-header{
        position: absolute;
        width: 428px;
        height: 58.5px;
        left: 58px;
        top: 874px;
    }

        .latest-movie-judul{
            position: absolute;
            width: 428px;
            height: 48px;
            left: 0px;
            top: 0px;
            
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            display: flex;
            align-items: center;
            
            color: #FF6A3D;
        }

        .garis-latest-movie{
            position: absolute;
            width: 130.03px;
            height: 0px;
            left: 1.98px;
            top: 58.5px;
            
            border: 5px dashed #000000;
        }

    .latest-movie-content{
        position: absolute;
        width: 1860px;
        height: 492px;
        left: 60px;
        top: 961px;
        overflow-x: scroll;
    }

    .latest-movie-content::-webkit-scrollbar{
        width: 15px;
    }

    .latest-movie-content::-webkit-scrollbar-thumb{
        background-color: #307672;
        border: 3.5px;
        border-radius: 10rem;
    }

        .latest-movie-avatar-2{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 0px;
            top: 0px;
            
            background: url(Foto-Latest-Movie/Avatar-2-Poster.svg);   
        }

        .latest-movie-the-menu{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 326px;
            top: 0px;
            
            background: url(Foto-Latest-Movie/The-Menu-Poster.svg);
        }

        .latest-movie-black-panther-2{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 652px;
            top: 0px;
            
            background: url(Foto-Latest-Movie/Black-Panther-2-Poster.svg);
        }

        .latest-movie-black-adam{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 978px;
            top: 0px;
            
            background: url(Foto-Latest-Movie/Black-Adam-Poster.svg);
        }

        .latest-movie-smile{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 1304px;
            top: 0px;
            
            background: url(Foto-Latest-Movie/Smile-Poster.svg);
        }

        .latest-movie-ticket-to-paradise{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 1630px;
            top: 0px;
            
            background: url(Foto-Latest-Movie/Ticket-To-Paradise-Poster.svg);
        }

        .latest-movie-fall{
            position: absolute;
            width: 281px;
            height: 427.47px;
            left: 1941px;
            top: 0px;
            
            background: url(Foto-Latest-Movie/Fall-Poster.svg);
        }

        .latest-movie-incantation{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 2252px;
            top: 0px;
            
            background: url(Foto-Latest-Movie/Incantation-Poster.svg);
        }

/*TOP GENRE*/
    
    .top-genre{
        position: absolute;
        width: 1815px;
        height: 151px;
        left: 72px;
        top: 1487px;
        
    }

        .top-genre-judul{
            position: absolute;
            width: 526px;
            height: 48px;
            left: calc(50% - 526px/2 - 644.5px);
            top: calc(50% - 48px/2 - 51.5px);
            
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            display: flex;
            align-items: center;
            
            color: #FF6A3D;
        }

        .garis-top-genre{
            position: absolute;
            width: 130.03px;
            height: 0px;
            left: 1.98px;
            top: 58.5px;
            
            border: 5px dashed #000000;
        }

        .top-genre-action{
            position: absolute;
            width: 414px;
            height: 61px;
            left: 0px;
            top: 90px;
            
            background: #FF6A3D;
            border-radius: 12px;
        }

        .top-genre-action-judul{
            position: absolute;
            width: 375px;
            height: 22px;
            left: 116px;
            top: 116px;
            
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 45px;
            display: flex;
            align-items: center;
            
            color: #000000;
        }

        .top-genre-drama{
            position: absolute;
            width: 414px;
            height: 61px;
            left: 467px;
            top: 90px;
            
            background: #FF6A3D;
            border-radius: 12px;
        }

        .top-genre-drama-judul{
            position: absolute;
            width: 375px;
            height: 22px;
            left: 586px;
            top: 116px;
            
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 45px;
            display: flex;
            align-items: center;
            
            color: #000000;            
        }

        .top-genre-crime{
            position: absolute;
            width: 414px;
            height: 61px;
            left: 934px;
            top: 90px;
            
            background: #FF6A3D;
            border-radius: 12px;   
        }

        .top-genre-crime-judul{
            position: absolute;
            width: 375px;
            height: 22px;
            left: 1073px;
            top: 116px;
            
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 45px;
            display: flex;
            align-items: center;
            
            color: #000000;
        }

        .top-genre-horror{
            position: absolute;
            width: 414px;
            height: 61px;
            left: 1401px;
            top: 90px;
            
            background: #FF6A3D;
            border-radius: 12px;
        }

        .top-genre-horror-judul{
            position: absolute;
            width: 375px;
            height: 22px;
            left: 1511px;
            top: 116px;
            
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 45px;
            display: flex;
            align-items: center;
            
            color: #000000;
        }

/*HOT NEWS*/

    .hot-news{
        position: absolute;
        width: 1829px;
        height: 100px;
        left: 58px;
        top: 1692px;
    }

        .hot-news-latar{
            position: absolute;
            width: 1815px;
            height: 100px;
            left: 14px;
            top: 0px;
            
            background: #25333D;
            border-radius: 30px;
        }

        .hot-news-open-overlay{
            position: absolute;
            width: 60px;
            height: 28.7px;
            left: 1704px;
            top: 38px;            
        }

        .hot-news-judul{
            position: absolute;
            width: 375px;
            height: 62px;
            left: 71px;
            top: 23px;
            
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 45px;
            display: flex;
            align-items: center;
            
            color: #FF6A3D;
        }

/*OVERLAY ACTION*/

    .overlay-action{
        position: absolute;
        width: 1837px;
        height: 532px;
        left: 50px;
        top: 947px;
        overflow-x: scroll;
        visibility: hidden;       
    }

    .overlay-action::-webkit-scrollbar{
        width: 5px;
    }

    .overlay-action::-webkit-scrollbar-thumb{
        background-color: #307672;
        border: 3.5px;
        border-radius: 10rem;
    }
    
        .overlay-action-the-batman{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 0px;
            top: 82px;
            
            filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .overlay-action-avatar-2{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 310px;
            top: 82px;
            
            filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .overlay-action-black-panther-2{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 620px;
            top: 82px;
            
            filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .overlay-action-black-adam{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 930px;
            top: 82px;
            
            filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .overlay-action-top-gun{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 1240px;
            top: 82px;
            
            filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .overlay-action-ambulance{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 1550px;
            top: 82px;
            
            filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .overlay-action-the-dark-knight{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 1860px;
            top: 82px;
            
            filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .overlay-action-inception{
            position: absolute;
            width: 287px;
            height: 427.47px;
            left: 2170px;
            top: 82px;
            
            filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .action-bar{
            position: absolute;
            width: 526px;
            height: 48px;
            left: 7px;
            top: 1px;
            
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            display: flex;
            align-items: center;
            
            color: #FF6A3D;
            
            text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
            
            overflow-x: none;
        }
        .action-garis{
            position: absolute;
            width: 130.03px;
            height: 0px;
            left: 9px;
            top: 59px;
            overflow-x: unset;

            border: 5px dashed #1BA098;
            box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .back-button-action{
            background-color: #307672;
            padding: 5px;
            border-radius: .3rem;
            position: absolute;
            width: 40px;
            height: 38.48px;
            left: 213px;
            top: 0px;
            box-shadow: 2px#1e1e1e(1, 1, 1, 1)
        }







